[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
    "gradio_client",
    "mido",
    "midiutil",
    "torch",
    "transformers",
]
ignore_missing_imports = true
